@import "tailwindcss";

@font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/FiraGO-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/FiraGO-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/FiraGO-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/FiraGO-Bold.woff2') format('woff2');
}

@theme {
    --font-sans: 'FiraGO', ui-sans-serif, system-ui, sans-serif;
    --color-primary: #315eff;
    --color-secondary: #36454f;
}

@source "../../views";
